@import "sass/variables", "sass/mixins", "sass/global", "sass/components",
  "sass/navbar", "sass/footer", "primeicons/primeicons.css";

/***************** Start Main Slider Section *********************/

.slider {
  width: 100%;
  position: relative;

  .slider-img {
    width: 100%;
    height: 480px;
    object-fit: cover;

    @media screen and (max-width: $screen-xs) {
      height: 380px;
    }
  }

  .p-carousel-content {
    position: relative;
    .p-carousel-prev,
    .p-carousel-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: white !important;
      color: #f0f0f0 !important;
      border: 1px solid #f0f0f0 !important;
      z-index: 22;
      border: 3px solid #f0f0f0 !important;
      margin: 0 !important;
      display: none !important;
    }

    .p-carousel-prev {
      left: 30px;

      @media screen and (max-width: $screen-xs) {
        left: 18px;
      }
    }

    .p-carousel-next {
      right: 30px;

      @media screen and (max-width: $screen-xs) {
        right: 18px;
      }
    }

    .p-carousel-indicators {
      position: absolute;
      bottom: 20px;
      left: 50%;
      z-index: 22;
      transform: translateX(-50%);
      gap: 8px;
      padding: 0 !important;

      .p-carousel-indicator {
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        .p-link {
          display: block;
        @include circle(12px);
        background-color: #c0c0c0;
        border-radius: 50% !important;
        border: 2px solid $white;
        transition: $main-transition;

        @media screen and (max-width: $screen-xs) {
          @include circle(10px);
        }
        }

        &.p-highlight {
          .p-link {
            background-color: $main;
          border: 1px solid $light2;
          }
        }
      }
    }
  }
}

/***************** End Main Slider Section *********************/

/***************** Start category Section *********************/

.categories_items {
  @include grid(120px, 35px);
  // grid-auto-flow: column;
  // // overflow-x: auto;
  // // padding-bottom: 15px;

  // // &::-webkit-scrollbar {
  // //     width: 6px;
  // //     height: 0;
  // //     display: none
  // // }

  @media screen and (max-width: $screen-xs) {
    @include grid(90px, 25px);
  }
}
.category_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background-color: transparent;

  .category_img {
    @include circle(90px);
    display: block;
    object-fit: cover;
    background-color: $blue;
    @include center;
    // transition: $main-transition;
    &.sm {
      @include circle(50px);

      @media screen and (max-width: $screen-xs) {
        @include circle(45px);
      }
    }

    @media screen and (max-width: $screen-xs) {
      @include circle(75px);
    }
  }

  .category_name {
    color: $black !important;
    transition: $main-transition;
    font-family: fontDemi;
    font-size: 14px;
    text-align: center;

    @media screen and (max-width: $screen-xs) {
      font-size: 12px;
    }
  }

  &:hover {
    .category_name {
      color: $main !important;
    }
  }

  &.active {
    .category_img {
      border: 4px solid $blue;
    }
  }
}

/***************** End category Section *********************/

/***************** Start section_top Section *********************/

.section_top {
  @include between;
  gap: 15px;

  .sec_title {
    font-size: 16px;
    color: $black;
    flex-shrink: 0;
    font-family: fontDemi;

    @media screen and (max-width: $screen-xs) {
      font-size: 13px;
    }
  }

  .line {
    width: 100%;
    height: 0.5px;
    background-color: $black;
    display: inline-block;
  }

  .more_link {
    font-size: 14px;
    color: $main;
    flex-shrink: 0;
    transition: $main-transition;

    @media screen and (max-width: $screen-xs) {
      font-size: 12px;
    }

    &:hover {
      text-decoration: underline !important;
    }
  }
}

/***************** End section_top Section *********************/

/***************** Start product_card Section *********************/

.product_card {
  border: 1px solid rgba($color: $dark3, $alpha: 0.3);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  position: relative;
  transition: $main-transition;

  .fav_icon {
    position: absolute;
    top: 15px;
    @include dir-left(15px);
    @media screen and (max-width: $screen-sm) {
      top: 10px;
      @include dir-left(10px);
    }
  }

  .product_img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.08) 0px -6px 12px;

    @media screen and (max-width: $screen-sm) {
      height: 150px;
    }

    @media screen and (max-width: 396px) {
      height: 175px;
    }
  }

  .product_body {
    background-color: #fffefc;
    // background-color: #fff8f7;
    padding: 15px;
    height: calc(100% - (210px + 48px));

    @media screen and (max-width: $screen-sm) {
      height: calc(100% - (150px + 48px));
    }

    @media screen and (max-width: 396px) {
      height: calc(100% - (175px + 48px));
    }

    .product_name {
      font-size: 15px;
      color: #545353;
      line-height: 1.7;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      // display: flex;
      // align-items: center;
      // gap: 7px;

      @media screen and (max-width: $screen-xs) {
        font-size: 13px;
      }

      .pi {
        translate: 0px 2px;
        margin-inline-end: 8px;

        #{$ltr} & {
          transform: scaleX(-1);
        }
      }
    }
  }

  .main-btn {
    width: 100%;
    border-bottom: none;
    border-right: none;
    border-left: none;

    @media screen and (max-width: $screen-xs) {
      font-size: 12px;
    }
  }

  &.offer {
    border-color: #f5f3fc;
    box-shadow: none;

    .product_img {
      box-shadow: none;
    }

    .product_body {
      background-color: $white;

      .product_name {
        color: $black;
        margin-bottom: 10px;
      }
    }

    .product_footer {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 12px 20px;
      border-top: 1px solid #f5f3fc;

      .main-btn {
        width: fit-content !important;
        flex: 1;
        border: 1px solid $main !important;
        border-radius: 7px;
        min-width: auto;

        @media screen and (max-width: $screen-xs) {
          height: 45px;
          font-size: 12px;
        }
      }
    }
  }
}

// Fav Icon
.fav_icon {
  @include circle(34px);
  border: 1px solid #e0dce8;
  color: #d9d1e9;
  @include center;
  cursor: pointer;

  i {
    font-size: 15px !important;
  }

  &.fav {
    background-color: #fff0f0;
    color: #db6666;
    border-color: #db6666;
  }

  &.main {
    border: none;
    color: $main;
    background-color: #fdf1e6;
  }

  &.lg {
    @include circle(48px);
    opacity: 0.5;

    i {
      font-size: 18px !important;

      @media screen and (max-width: $screen-xs) {
        font-size: 15px !important;
      }
    }

    &.fav {
      opacity: 1;
    }
  }

  @media screen and (max-width: $screen-xs) {
    @include circle(30px);

    i {
      font-size: 11px !important;
    }
  }
}

/***************** End product_card Section *********************/

/***************** Start advantages_sec Section *********************/

.advantage_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: $screen-xs) {
    gap: 16px;
  }

  .icon {
    background: linear-gradient(#fff84e, #e6b15c);
    @include circle(56px);
    @include center;
    box-shadow: 0 8px 15px rgba($color: #646464, $alpha: 0.35);

    .ic {
      max-width: 20px;
      max-height: 22px;
    }

    @media screen and (max-width: $screen-xs) {
      @include circle(50px);

      .ic {
        max-width: 16px;
        max-height: 16px;
      }
    }
  }

  .adv_name {
    font-size: 15px;
    color: $main;
    font-family: fontDemi;

    @media screen and (max-width: $screen-xs) {
      font-size: 14px;
    }
  }

  .adv_desc {
    text-align: center;
  }
}

/***************** End advantages_sec Section *********************/

/***************** Start customer_item Section *********************/

.carousel-card-horizontal {
  overflow-x: hidden !important;
  overflow-y: clip !important;
}

.carousel-card-container {
  min-height: 300px;
  height: auto !important;

  .arrow_btns {
    @media screen and (max-width: $screen-md) {
      position: absolute;
      bottom: -20px;
      z-index: 10;
      display: flex;
      gap: 12px;
      left: 50%;
      transform: translateX(-50%);
    }
    @media screen and (max-width: $screen-sm) {
      bottom: -12px;
    }
  }

  .arrow {
    @include circle(50px);
    background-color: $yellow;
    color: $white;
    @include center;
    border: 4px solid $orange;
    position: absolute;
    top: 50%;
    font-size: 18px;
    transform: translateY(-50%);
    z-index: 10;
    overflow: hidden;
    transition: $main-transition;

    .fa-left-long,
    .fa-right-long {
      transform: unset;
    }
    @media screen and (max-width: $screen-lg) {
      @include circle(44px);
      font-size: 16px;
      border-width: 3px;
    }

    @media screen and (max-width: $screen-md) {
      position: unset;
      transform: translateY(0);
    }

    &.prev {
      right: calc(25% + 20px);

      @media screen and (max-width: $screen-lg) {
        right: calc(25% + 5px);
      }
    }

    &.next {
      left: calc(25% + 20px);

      @media screen and (max-width: $screen-lg) {
        left: calc(25% + 5px);
      }
    }

    &:hover {
      color: $orange;
    }
  }
}

.carousel-card-item-card {
  background-color: $white !important;
  border: 1px solid rgba($color: $dark3, $alpha: 0.21);
  padding: 35px 100px;
  border-radius: 15px;
  box-shadow: 0 16px 16px rgba($color: #8a7777, $alpha: 0.16);
  height: auto !important;

  @media screen and (max-width: $screen-lg) {
    padding: 35px;
  }

  @media screen and (max-width: $screen-md) {
    box-shadow: none;
    width: 100% !important;
  }

  &.is-active {
    .qoute {
      opacity: 1 !important;
    }
    @media screen and (max-width: $screen-md) {
      transform: translateX(0px) translateY(-50%) scale(1) !important;
    }
  }
}

.customer_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;

  .qoute {
    position: absolute;
    top: 0;
    max-width: 45px;
    max-height: 45px;
    opacity: 0;
    transition: $main-transition;

    &.qoute1 {
      @include dir-left(0);
    }

    &.qoute2 {
      @include dir-right(0);
    }

    @media screen and (max-width: $screen-md) {
      max-width: 35px;
      max-height: 35px;
    }
  }

  .img {
    @include circle(80px);
    object-fit: cover;

    @media screen and (max-width: $screen-xs) {
      @include circle(70px);
    }
  }

  .text {
    text-align: center;
    color: $black;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/***************** End customer_item Section *********************/

/***************** Start Form Section *********************/

.login_logo {
  max-width: 240px;

  &.sm {
    max-width: 170px;

    @media screen and (max-width: $screen-xs) {
      max-width: 140px;
    }
  }

  &.res {
    @media screen and (max-width: $screen-xs) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.1 !important;
      z-index: -1;
    }
  }

  &.position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

/***************** End Form Section *********************/

/***************** Start Accordion Section *********************/

.p-accordion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.p-accordion-tab {
  .p-accordion-header {
    .p-accordion-header-action {
      border-radius: 10px !important;
      justify-content: space-between;
      flex-direction: row-reverse;
      border: 1px solid #ececec !important;
      padding: 20px !important;
      background-color: $white !important;
      transition: $main-transition;
      gap: 12px;

      @media screen and (max-width: $screen-xs) {
        padding: 14px !important;
      }

      .p-icon {
        color: $black;
        width: 12px;
        #{$rtl} & {
          transform: rotate(-180deg);
        }
        transition: $main-transition;
      }

      .p-accordion-header-text {
        font-size: 14px;
        color: $black;
        font-family: fontMed;
        font-weight: 500;
        transition: $main-transition;

        @media screen and (max-width: $screen-xs) {
          font-size: 12px;
          line-height: 25px;
        }
      }
    }
  }

  .p-accordion-content {
    border-end-start-radius: 10px !important;
    border-end-end-radius: 10px !important;
    border: 1px solid $light2 !important;
    border-top: none !important;
    padding: 16px 20px !important;
    font-family: fontMed;
    transition: $main-transition;

    @media screen and (max-width: $screen-xs) {
      padding: 15px !important;
    }

    .p-accordion-answer-text {
      font-size: 13px !important;
      transition: $main-transition;
      line-height: 2;

      @media screen and (max-width: $screen-xs) {
        font-size: 12px !important;
      }
    }
  }

  &.p-accordion-tab-active {
    .p-accordion-header {
      .p-accordion-header-action {
        border-end-start-radius: 0px !important;
        border-end-end-radius: 0px !important;
        background-color: rgba($color: #4335a2, $alpha: 0.15) !important;
        border-color: #4335a2 !important;

        .p-icon {
          color: #4335a2;
        }

        .p-accordion-header-text {
          color: #322682 !important;
        }
      }
    }

    .p-accordion-content {
      background-color: rgba($color: #4335a2, $alpha: 0.15);
      border-color: #4335a2 !important;
      .p-accordion-answer-text {
        color: #322682 !important;
      }
    }
  }
}

/***************** End Accordion Section *********************/

/***************** Start gradient_box Section *********************/

.gradient_box {
  background: linear-gradient(#5344bb, #281c76);
  padding: 40px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  color: $white;
  border-radius: 10px;

  .text {
    font-size: 15px;

    @media screen and (max-width: $screen-xs) {
      font-size: 14px;
    }
  }

  .num {
    font-size: 38px;

    @media screen and (max-width: $screen-xs) {
      font-size: 30px;
    }
  }
}

.wallet_img {
  width: 100%;
  height: 540px;
  object-fit: cover;

  @media screen and (max-width: $screen-xs) {
    height: 380px;
  }
}

/***************** End gradient_box Section *********************/

/***************** Start not-item Section *********************/

.not-item {
  @include between;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid rgba($color: #dcdcdc, $alpha: 0.56);
  margin-bottom: 15px;

  .right {
    display: flex;
    align-items: center;
    gap: 15px;

    .logo {
      max-width: 60px;
      flex-shrink: 0;
    }

    .not_body {
      .time {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
        color: $dark4;

        i {
          animation: bell-animation 4s infinite ease-in-out;
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@keyframes bell-animation {
  0%,
  100% {
    transform: rotate(30deg);
  }

  50% {
    transform: rotate(-30deg);
  }
}

/***************** End not-item Section *********************/

/***************** Start product_d_top Section *********************/

.product_d_top {
  @include between;
  gap: 15px;
  flex-wrap: wrap;

  .product_bread {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $dark2;

    @media screen and (max-width: $screen-xs) {
      gap: 4px;
    }

    .product_cat {
      color: $dark3;
    }
  }

  .share_btn {
    background-color: transparent;
    color: $blue;
    display: flex;
    align-items: center;
    gap: 7px;
    // font-family: fontDemi;
  }
}

/***************** End product_d_top Section *********************/

/***************** Start financial_item Card *********************/

.financial_item {
  border: 1px solid rgba($color: $dark3, $alpha: 0.3);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  position: relative;
  transition: $main-transition;
  padding: 20px 0;
  @include dir-padding-left(25px);
  display: flex;
  align-items: center;
  gap: 25px;

  @media screen and (max-width: $screen-xs) {
    padding: 20px 10px !important;
    gap: 15px;
    flex-direction: column;
  }

  .icon {
    flex-shrink: 0;
    @include circle(60px !important);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: $white;
    font-size: 20px;
    color: $main;
    @include center;
  }

  .left {
    @media screen and (max-width: $screen-xs) {
      text-align: center;
    }

    .name {
      font-size: 14px;
      color: $dark;
      margin-bottom: 15px;
    }

    // .iban{
    //   -webkit-text-security: disc;
    // }
  }
}

/***************** End financial_item Card *********************/

/***************** Start Order Section *********************/

.complaint-item {
  padding: 7px 14px;
  border-radius: 10px;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;

  @media screen and (max-width: $screen-xs) {
    flex-direction: column;
  }

  .complaint-img {
    max-width: 90px;
    @include circle(90px);
    object-fit: cover;
    // @media screen and (max-width: $screen-xs) {
    //   max-width: 75px;
    // }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .left-sec {
    padding: 0px 22px;
    width: 100%;

    @media screen and (max-width: $screen-sm) {
      padding: 0 10px;
    }

    .item {
      padding: 12px 0;
      border-bottom: 1px solid $light;

      &:last-child {
        border-bottom: none;
      }
    }
    .left-item {
      @include between;
      gap: 8px 4px;
      flex-wrap: wrap;
    }
  }
}

/***************** End Order Section *********************/

/***************** Start complaint_item Section *********************/

.complaint_item {
  padding: 12px 0;
  border-top: 1px solid #faf7f7;
}

/***************** End complaint_item Section *********************/

/***************** Start Order Tabs Section *********************/

.order_tab {
  border-color: $white !important;
  &.router-link-exact-active,
  &.router-link-active {
    background-color: $main;
    color: $white;

    &:hover {
      background-color: $main;
      color: $white;
    }
  }
}

/***************** End Order Tabs Section *********************/

/***************** Start product_table Section *********************/

.product_table {
  overflow-x: auto;
  padding: 2px;
  padding-bottom: 15px;

  .head {
    padding: 12px 0;
    color: rgba($color: $black, $alpha: 80%);
    font-family: fontDemi;
    min-width: 650px;
  }

  .product_item {
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    border-end-end-radius: 12px;
    border-start-end-radius: 12px;
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    padding: 15px 0;
    @include dir-margin-left(45px);
    box-shadow: $card-shadow;
    min-width: 650px;
    background-color: $white;

    .product_img_td {
      position: relative;
      min-height: 65px;
      @include dir-padding-left(65px);

      .p_img {
        position: absolute;
        top: 50%;
        @include dir-left(-40px);
        transform: translateY(-50%);
        z-index: 2;
        @include circle(90px);
        overflow: hidden;
        box-shadow: $card-shadow;
        border: 2px solid $white;

        .img {
          width: 100% !important;
          height: 100% !important;
          object-fit: cover;
        }
        &::after {
          position: absolute;
          content: "";
          z-index: 2;
          width: 100%;
          height: 100%;
          background-color: rgba($color: #000000, $alpha: 0.2);
          top: 0;
          left: 0;
        }

        &.without_after {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .big_td {
    width: 290px;
    flex-shrink: 0;

    &.with_m {
      width: 250px;
    }
  }

  .small_td {
    text-align: center;
    width: 100px;
    flex-shrink: 0;

    &.lg {
      width: 160px;
    }
  }
}

.coll_head {
  @include between;
  // border-radius: 5px;
  gap: 15px;
  padding: 14px 15px;
  color: $black;
  background-color: rgba($color: $blue, $alpha: 0.1);
}

/***************** End product_table Section *********************/

/***************** Start Cart Page *********************/

.discount {
  .input-me {
    background-color: transparent;
    border-color: #dddddd;
    padding: 0 8px;
    min-height: 45px;
  }

  .main-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    height: 36px;
    @include dir-right(4px);
    width: 84px !important;
    min-width: fit-content;
  }
}

/***************** End Cart Page *********************/

/************* Start payment Section *************/

.payment-items {
  display: grid;
  gap: 12px;
  .payment-item {
    .payment-input {
      display: none;
    }

    .payment-label {
      padding: 10px 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fafafc;
      cursor: pointer;
      border-radius: 12px;
      border: 1px solid transparent;
      transition: all 0.4s ease;

      .right {
        display: flex;
        align-items: center;
        gap: 14px;

        .payment-img {
          max-width: 20px;
          max-height: 20px;
        }

        .name {
          color: $black;
          font-family: fontDemi;
          margin-bottom: 3px;
          display: block;
        }

        .text {
          color: $black;
          font-size: 12px;
        }
      }

      .circle {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid $blue;
        opacity: 0;
        position: relative;
        transition: all 0.4s ease;

        &::after {
          content: "";
          height: 6px;
          width: 10px;
          border-left: 3px solid $blue;
          border-bottom: 3px solid $blue;
          border-radius: 1px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -60%) rotate(-45deg);
          transform-origin: center center;
        }
      }
    }
  }
}

.payment-item .payment-input:checked + .payment-label {
  background-color: #fff;
  border-color: $main;
}

.payment-item .payment-input:checked + .payment-label .circle {
  opacity: 1;
}

.payment-item .payment-input:checked + .payment-label {
  background-color: rgba($color: $blue, $alpha: 0.1);
  border-color: transparent;
}

@media screen and (max-width: 425px) {
  .payment-item {
    width: 100%;
  }

  .payment-item .payment-label {
    padding: 18px 14px;
    width: 100%;
  }

  .payment-items .payment-item .payment-label .right .text {
    font-size: 11px;
  }

  // .payment-item .payment-label .right .name {
  //   font-size: 15px;
  // }
}

/************* End payment Section *************/

/***************** Start no-data Section *********************/

.no-data {
  text-align: center;
  .no-data-img {
    max-width: 220px;

    @media screen and (max-width: $screen-xs) {
      max-width: 160px;
    }
  }

  .no-data-text {
    color: $red;
    font-size: 14px;
    @media screen and (max-width: $screen-xs) {
      font-size: 12px;
    }
  }

  &.lg {
    height: 400px;

    @media screen and (max-width: $screen-xs) {
      height: 300px;
    }
  }

  &.sm {
    .no-data-img {
      max-width: 180px;

      @media screen and (max-width: $screen-xs) {
        max-width: 140px;
      }
    }

    .no-data-text {
      font-size: 13px;
    }
  }
}

/***************** End no-data Section *********************/

/***************** Start Route *********************/

.route-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}

.route-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.route-enter-active {
  transition: all 0.3s ease-out;
}

.route-leave-active {
  transition: all 0.3s ease-in;
}

.route-enter-to,
.route-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

/***************** Start Route *********************/
